@model MultitenantApp.Models.Person
@{
    var title = ViewData["Title"] = "Create person";
}

<h2>@title</h2>

<form asp-controller="Persons" asp-action="Create" class="form-horizontal" method="post" role="form">
    @Html.Partial("_Editor")
</form>